[user]
  name = Piliponful
  email = piliponful@gmail.com
[core]
  editor = vim
[alias]
  ac = !git add . && git commit -am
  a = add --all
  b = branch
  c = commit
  cd = commit --amend
  l = log --oneline
  lg = log --oneline --graph --decorate
  o = checkout
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
